<!DOCTYPE>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
      body {
      padding-top: 60px; /* ナビゲーションバーとコンテンツの重なりを防止する為, 60px の空間を上部に作る.*/
      padding-bottom: 40px; /* フッターの下方に 40px の空間を作る */
      }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
  </head>
  <body>

    <div class="hero-unit">
      <h1>Sample Main Contents</h1>
      <p>sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample </p>
      <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
      <div class="span4">
        <h2>Sub Contents</h2>
        <p>sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      
      <div class="span4">
        <h2>Sub Contents</h2>
        <p>sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      
      <div class="span4">
        <h2>Sub Contents</h2>
        <p>sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample sample </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      
    </div>
  </body>
</html>
